$(`</style>
div#l1, div#l2, div#l3 {
    width: 57%!important;
    margin-top: -2.8px!important;
    margin-left: 164px!important;
    height: 99px;
    border-radius: 7px;
    top: 209px;
    position: absolute;
    border: 1px solid #392516;
    background-image: -webkit-linear-gradient(
45deg
,rgba(114, 111, 118, 0) 25%,#82828200 25%,#392516 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent)!important;
}



div#l2 input#pass1,div#l2 input#u2,div#l3 input#pass2,div#l3 input#u3 {
    padding: 0!important;
	text-align: center;
    border-radius: 3px
}

div#l2 input#pass1,div#l3 input#pass2 {
    margin-top: 2px;
    border: 1px solid #525050;
	text-align: center;
}

div#l2 input#u2,div#l3 input#u3 {
    margin-top: -4px!important;
	text-align: center;
    border: 1px solid #525050;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(0, 0, 0, 0.64)!important;
}

div#l1 input#u1 {
    margin-top: -3px;
    border-radius: 3px;
	text-align: center;
    border: 1px solid #8a6d3b
}

div#l1 button.btn.btn-primary,div#l2 button.btn.btn-primary,div#l3 button.btn.btn-primary {
    width: 87px;

    height: 26px;
    margin-bottom: 0;
    padding: 0;
    right: 3px;
    font-family: el messiri,FontAwesome!important;
    border-color: rgb(255, 255, 255);
    border-radius: 3px!important;
    top: 68px
}


.des2,.nav-tabs>li>a,.s1.fa.fa-user.label.badgex.label-as-badge.label-success,label.label.label-primary.mini.fl {
    font-family: el messiri,FontAwesome!important
}

.nav.nav-tabs.fl {
    background-color: #fff0!important;
    position: absolute;
    top: 153px
}



.nav-tabs>li>a {
    color: #fff!important;
    margin: 4px 38px auto auto;
    text-align: center;
    width: 79%;
    border-radius: 3px;
    height: 87%!important;
    padding: 4px 0!important;
    background-image: radial-gradient(circle,#392516,#392516,#392516);
    background-color: #392516;
}

.nav-tabs>li {
    background: 0 0;
    width: 50%;
    margin-left: 2px;
    border-radius: 50px;
    height: 35px!important
}

.nav-tabs {
    border-bottom: none!important
}

ul.nav.nav-tabs {
    background-color: #f0f8ff00!important;
}
</style>`)['insertBefore']('body')
